.box-ratio-full-screen{
    width: 100%;
    height: 36vw;
}
.set-stage-center{

    justify-content: center;
}
.box-ratio-for-28vw{
    width: 100%;
    height: 30vw;
}
.stage-wrap-for-28vw{
    width: 100%;
}
.page-content-wrap{
    display: block;
}

@media only screen and (max-width:600px){
    .set-stage-center{
        display: flex !important;        
        justify-content: center;
    }
    .box-ratio-for-28vw{
        width: 100%;
        height: 28vw;
    }
    .stage-wrap-for-28vw{
        width: 46.66666666% !important;
    }
}

.stage-wrap{
    position: relative;
    overflow: hidden;

    .front-stage-wrap{
        position: absolute;
        width: 100%;
        height: 100%;

        .front-stage{
            position: absolute;
            width: 100%;
            height: 100%;

            .front-stage-img-wrap{
                position: absolute;
                width: 100%;
                bottom: -18%;
                height: auto;
                text-align: center;

                .front-stage-img{
                    position: relative;
                    display: inline-block;
                    width: 40%;
                }
            }
        }
    }

    .back-stage-wrap{
        position: absolute;
        width: 100%;
        height: 100%;
        
        .back-stage{
            position: absolute;
            width: 500%;
            height: 100%;
            left: -300%;
            animation-name: back-stage-move;
            animation-duration: 16s;
            animation-iteration-count: infinite;

            .back-stage-img-wrap{
                position: absolute;
                width: 20%;
                height: auto;
                text-align: center;

                .back-stage-img{
                    position: relative;
                    display: inline-block;
                }
            }

            .building-img-wrap_1{
                left: 0%;
                bottom: 10%;

                .building-img_1{
                    width: 55%;
                }
            }
            .building-img-wrap_2{
                left: 20%;
                bottom: 10%;

                .building-img_2{
                    width: 55%;
                }

                .parking-pin-img{
                    position: absolute;
                    top: 2%;
                    left: 59%;
                    width: 18%;    
                    animation-name: parking-pin-visibility;
                    animation-duration: 16s;
                    animation-iteration-count: infinite;
                
                }
            }
            .building-img-wrap_3{
                left: 40%;
                bottom: 10%;

                .building-img_3{
                    width: 55%;
                }

                .no-parking-img{
                    position: absolute;
                    width: 12.5%;
                    top: 50%;
                    left: 65%;
                }
            }
            .building-img-wrap_4{
                left: 60%;
                bottom: 10%;

                .building-img_4{
                    width: 47%;
                }
            }
            .building-img-wrap_5{
                left: 80%;
                bottom: 10%;

                .building-img_5{
                    width: 55%;
                }
            }
            .building-img-wrap_6{
                left: 100%;
                bottom: 10%;

                .building-img_6{
                    width: 55%;
                }

                .parking-pin-img{
                    position: absolute;
                    top: 2%;
                    left: 59%;
                    width: 18%;
                }
            }
        }
    }
}

@media only screen and (max-width:600px){
    
    .stage-wrap{
        display: inline-block;
        position: relative;
        overflow: hidden;

        .front-stage-wrap{
            position: absolute;
            width: 60%;
            height: 100%;

            .front-stage{
                position: absolute;
                width: 100%;
                height: 100%;

                .front-stage-img-wrap{
                    position: absolute;
                    width: 100%;
                    bottom: -18%;
                    height: auto;
                    text-align: center;

                    .front-stage-img{
                        position: relative;
                        display: inline-block;
                        width: 40%;
                    }
                }
            }
        }

        .back-stage-wrap{
            position: absolute;
            width: 60%;
            height: 100%;
            
            .back-stage{
                position: absolute;
                width: 500%;
                height: 100%;
                left: -300%;
                animation-name: back-stage-move;
                animation-duration: 16s;
                animation-iteration-count: infinite;

                .back-stage-img-wrap{
                    position: absolute;
                    width: 20%;
                    height: auto;
                    text-align: center;

                    .back-stage-img{
                        position: relative;
                        display: inline-block;
                    }
                }

                .building-img-wrap_0{
                    left: -20%;
                    bottom: 10%;

                    .building-img_0{
                        width: 47%;
                    }
                }
                .building-img-wrap_1{
                    left: 0%;
                    bottom: 10%;

                    .building-img_1{
                        width: 55%;
                    }
                }
                .building-img-wrap_2{
                    left: 20%;
                    bottom: 10%;

                    .building-img_2{
                        width: 55%;
                    }

                    .parking-pin-img{
                        position: absolute;
                        top: 2%;
                        left: 59%;
                        width: 18%;
                        animation-name: parking-pin-visibility;
                        animation-duration: 16s;
                        animation-iteration-count: infinite;
                    }
                }
                .building-img-wrap_3{
                    left: 40%;
                    bottom: 10%;

                    .building-img_3{
                        width: 55%;
                    }

                    .no-parking-img{
                        position: absolute;
                        width: 12.5%;
                        top: 50%;
                        left: 65%;
                    }
                }
                .building-img-wrap_4{
                    left: 60%;
                    bottom: 10%;

                    .building-img_4{
                        width: 47%;
                    }
                }
                .building-img-wrap_5{
                    left: 80%;
                    bottom: 10%;

                    .building-img_5{
                        width: 55%;
                    }
                }
                .building-img-wrap_6{
                    left: 100%;
                    bottom: 10%;

                    .building-img_6{
                        width: 55%;
                    }

                    .parking-pin-img{
                        position: absolute;
                        top: 2%;
                        left: 59%;
                        width: 18%;
                    }
                }
            }
        }
    }
}
